<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Tutorial for Image Scraper" />
    <title>404 Error</title>
  </head>
    <body>
        <section class="404-page">
            <h1>ERROR: Incorrect GET Request</h1>
            <div
            style="
        background: #CDCDCD;
        margin: 0 10px;
        padding: 10px;
        margin-top: 20px;
      ">
                <div>
                    <p>Please enter the correct URL parameters</p>
                    <p>Example:</p>
                    <p>
                       https://unsplash-amazable.herokuapp.com/search?q=YOURIMAGESEARCH
                    </p>
                </div>

                <a href="/" style="display: block; margin: 20px 0 10px"
                    >Return to Homepage</a
                >
            </div>
        </section>
    </body>
</html>